<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EVP5MJERRY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EVP5MJERRY');
    </script>
    <!-- Meta Pixel Code -->
    <script>
        function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '827137978479661');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=827137978479661&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
    <!-- Hotjar Tracking Code for https://villagelife.bg -->
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3202998,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <meta charset="UTF-8">

    <meta name="robots" content="all">
    <title th:text="#{property.title}"></title>
    <link th:href="@{/images/village-life-logo-icon.png}" rel="icon" type="image/png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/showPropertyById.css">
    <link rel="stylesheet" href="/css/min/menu-style-about-us.min.css">
</head>
<body>
<div th:replace="fragments :: property-menu"></div>
<div th:replace="fragments :: property-hamburger-menu"></div>
<div class="container">
    <div class="village-title mb-3">

        <h3 th:text="#{${property.propertyTransferType.name}}" style="font-weight: 400;"></h3>
        <h1>
            <span th:text="#{${property.propertyType.key}}"></span> <span th:text="${property.price} + ' EUR'" style="float: right;"></span>
        </h1>

        <input value='' type='button' onclick='handlePrint()' class="print-button"/>

        <img alt="image pointer" th:src="@{/images/point.png}" class="point-icon"><span th:text="#{village}"></span>
        <span th:if="${#locale.language == 'bg'}" th:text="${property.villageDTO.name} + ', '"></span>
        <span th:if="${#locale.language == 'en'}" th:text="${property.villageDTO.latinName} + ', '"></span>
        <span th:if="${#locale.language == 'de'}" th:text="${property.villageDTO.latinName} + ', '"></span>
        <span th:text="#{region}"></span> <span th:text="#{${property.villageDTO.region}}"></span>
    </div>


    <div id="images">
        <div th:each="image, i : ${propertyImages}" class="mySlides">
            <div class="village-image-container text-center">
                <div class="numbertext" th:text="${i.index + 1} + ' / ' + ${propertyImages.size()}"></div>

                <img alt="images of a village" th:src="'data:image/jpeg;base64,' + ${image.imageName}"
                     onerror="this.onerror=null;this.src='/images/pexels-alexander-kovalev-2871478.webp';" id="img" width="1024" height="683">

                <a class="prev" th:if="${propertyImages.size() > 1}" onclick="plusSlides(-1)">❮</a>
                <a class="next" th:if="${propertyImages.size() > 1}" onclick="plusSlides(1)">❯</a>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <section class="properties-dimensions">
            <h3 class="section-title" th:text="#{properties.dimensions}"></h3>
            <div class="row">
                <hr>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="row">
                                <span class="info-title col" th:text="#{property.gross.building.area} + ':'"></span>
                                <span th:text="${property.buildUpArea} + ' ' + #{property.square.metre}" class="property-info col"></span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="row">
                                <span class="info-title col" th:text="#{property.yard.area} + ':'"></span>
                                <span th:text="${property.yardArea} + ' ' + #{property.square.metre}" class="property-info col"></span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="row">
                                <span class="info-title col" th:text="#{property.rooms.count} + ':'"></span>
                                <span th:text="${property.roomsCount}" class="property-info col"></span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="row">
                                <span class="info-title col" th:text="#{property.bathrooms.count} + ':'"></span>
                                <span th:text="${property.bathroomsCount}" class="property-info col"></span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="construction-condition">
            <h3 class="section-title" th:text="#{property.construction.condition}"></h3>
            <div class="row">
                <hr>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="row">
                                <span class="info-title col-9" th:text="#{property.construction.year} + ':'"></span>
                                <span th:text="${property.constructionYear}" class="property-info col-3"></span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="row">
                                <span class="info-title col" th:text="#{property.construction.type} + ':'"></span>
                                <span th:text="${property.constructionType}" class="property-info col"></span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row condition-row">
                <div class="col-lg-12 col-md-12 col-sm-12 condition-col">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div>
                                <span class="info-title col" th:text="#{property.condition} + ':'"></span>
                                <span th:text="${property.propertyCondition}" class="condition property-info" style="display: inline; padding-left: 4px; margin: 0; float: right;"></span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row heating-row">
                <div class="col-lg-12 col-md-12 col-sm-12 heating-col">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div>
                                <span class="info-title col" th:text="#{property.heating} + ':'"></span>
                                <span th:each="heating, iterStat : ${property.heating}" class="heating property-info" style="display: inline; padding-left: 4px; margin: 0; float: right;">
                                    <span th:text="${heating}"></span><span th:if="${!iterStat.first}">, </span>
                                </span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="description">
            <h3 class="section-title" th:text="#{property.description}"></h3>
            <div class="row">
                <hr>
                <div th:text="${property.description}"></div>
            </div>
        </section>

        <section class="extras">
            <h3 class="section-title" th:text="#{property.extras}"></h3>
            <div class="row">
                <hr>
                <div th:text="${property.extras}"></div>
            </div>
        </section>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="sticky-form">
            <div class="image-wrap text-center">
                <img class="rounded lazyload" src="/images/village-life-logo-circle.webp"
                     alt="VillageLife circle logo" width="70" height="70">
                <span> VillageLife</span>
            </div>


        </div>
    </div>
</div>


</div>
<div th:replace="fragments :: footer"></div>
<script src="/js/min/imageSlider.min.js"></script>
<script src="/js/min/showSubscriptionToast.min.js"></script>
<script src="/js/min/properties-navScript.min.js"></script>
<script src="/js/min/handlePrint.min.js"></script>
</body>
</html>