        .container{
            margin-top: 20px;
        }
        .image-container {
            position: relative;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
            margin: 20px 0;
    		z-index: 1;
        }

        .overlay {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.9);
            overflow: hidden;
            width: 0;
            height: 100%;
            transition: .3s ease;
    		z-index: 4;
        }

        .image-container:hover .overlay {
            width: 100%;
        }

        .new-text {
    		color: black;
    		position: absolute;
    		top: 20%;
    		left: 20%;
    		transform: translate(-20%, -20%);
            text-align: center;
            margin-left: 20px;
        }

        @media (max-width: 1200px) and (min-width: 992px) {
            .new-text {
                font-size: 14px;
            }
            h5 {
                font-size: 14px;
            }
        }

    	a {
    		text-decoration: none;
    		color: black;
    	}

    	a:hover {
          color: black;
        }

        .icon {
          height: 25px;
          width: 25px;
        }

        .green-text {
          color: #97CA31;
        }

        .image-text {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            padding: 25px 0;
            transition: .1s ease;
            color: white;
    		z-index: 3;
        }
        .image-text h5{
            font-weight: 600;
        }

        .image-container:hover .image-text {
            transform: translateX(-100%);
            opacity: 0;
        }

    	.image-container::after {
    		content: "";
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0) 100%);
    		z-index: 2;
    	}

        section {
            margin: 50px 0px 50px 0px;
        }
        .btn {
            border-radius: 0;
            margin: 0px 5px 0px 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
        .question-wrapper {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .col {
            margin-right: 15px;
        }

        @media screen and (max-width: 575px) {
            .col {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0 15px;
            }

            .image-container {
                text-align: center;
            }

            .image {
                width: 100%;
                height: auto;
            }
        }
