.container {
    padding: 0 30px;
}

section {
    margin: 50px 0;
}

.submit-btn, .submit-btn:hover {
     border: none;
        border-radius: 0;
        margin: 0 5px;
        background-color: #96C930;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        color: white;
        height: 30px;
}


/* Checkbox Styling */
.checkbox,
.radio-button {
    accent-color: #96c930;
}

.error-list {
    list-style-type: none;
    padding: 0;
}

.custom-dropdown {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 5px;
}

.custom-dropdown option:hover {
    background-color: #96c930;
    color: white;
}

.custom-option:hover {
    background-color: #96c930;
    color: white;
}

.form-control:focus,
#villageDTO:focus,
#region:focus,
#price:focus,
#phoneNumber:focus,
#buildUpArea:focus,
#yardArea:focus,
#roomsCount:focus,
#bathroomsCount:focus,
#propertyType:focus,
#address:focus,
#constructionYear:focus,
#extras:focus,
#ownershipType:focus,
#propertyCondition:focus,
#description:focus,
#constructionType:focus,
#formFileMultiple:focus,
#formFileForMultiple:focus,
#description:focus {
    box-shadow: 0 0 0 4px rgba(150, 201, 48, 0.5);
    outline: none;
    border: none;
}

 .checkbox-wrapper-43 input[type="checkbox"] {
            display: none;
            visibility: hidden;
        }

        .checkbox-wrapper-43 label {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

        }

        .checkbox-wrapper-43 .check {
            cursor: pointer;
            position: relative;
            width: 18px;
            height: 18px;
            -webkit-tap-highlight-color: transparent;
            transform: translate3d(0, 0, 0);
        }

        .checkbox-wrapper-43 .check:before {
            content: "";
            position: absolute;
            top: -15px;
            left: -15px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: rgba(34, 50, 84, 0.03);
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        .checkbox-wrapper-43 .check svg {
            position: relative;
            z-index: 1;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #c8ccd4;
            stroke-width: 1.5;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s ease;
        }

        .checkbox-wrapper-43 .check svg path {
            stroke-dasharray: 60;
            stroke-dashoffset: 0;
        }

        .checkbox-wrapper-43 .check svg polyline {
            stroke-dasharray: 22;
            stroke-dashoffset: 66;
        }

        .checkbox-wrapper-43 .check:hover:before {
            opacity: 1;
        }

        .checkbox-wrapper-43 .check:hover svg {
            stroke: #96c930;
        }

        .checkbox-wrapper-43 input[type="checkbox"]:checked + .check svg {
            stroke: #96c930;
        }

        .checkbox-wrapper-43 input[type="checkbox"]:checked + .check svg path {
            stroke-dashoffset: 60;
            transition: all 0.3s linear;
        }

        .checkbox-wrapper-43 input[type="checkbox"]:checked + .check svg polyline {
            stroke-dashoffset: 42;
            transition: all 0.2s linear;
            transition-delay: 0.15s;
        }
        .form-check-label{
            margin-top: 10px;
        }

        .checkbox,
        .checkbox-label{
            display: inline;
        }

.text-muted {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #6c757d;
}

@media (max-width: 676px) {
    .sm-consents {
        display: block;
    }
    .lg-consents {
        display: none;
    }
}