@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}
.logout-button {
 position: absolute;
 top: 10px;
 right: 10px;
 background-color: #90c90c;
 color: white;
}
.logo {
 max-width: 130px;
 height: auto;
}
.btn-login {
 background-color: #90c90c;
 border-color: #90c90c;
}
th.sortable:hover {/* sorting button */
cursor: pointer;
background-color: #f1f1f1;
}
/* CSS style to remove bullets from the list */
ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
 }
    /* Align the content in the "Answer date" and "Approval" cells */
    .table td:nth-child(7),
    .table td:nth-child(8) {
        vertical-align: middle;
    }

    /* Add some spacing between the rows in the "Answer date" column */
    .table td:nth-child(7) ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    /* Add some padding to the buttons in the "Approval" column */
    .table td:nth-child(8) form {
        margin-bottom:10;
    }
.btn-approval {
    margin-left:10px; /* Adjust the horizontal spacing as needed */
    margin-top: 5px; /* Add vertical spacing between buttons */
}
/* Center the "Delete" button in the column */
.table td:nth-child(10) {
    display: flex;
    justify-content: center;
    align-items: center;
}

