    .breadcrumb-item a {
      text-decoration: none;
      color: #96c930;
    }
    p a {
      color: #96c930;
    }




    /* Стилове за преместване на village-list-wrap в дясната страна */
    .village-list-wrap {
        position: sticky;
        top: 20px; /* Можете да регулирате това число, за да промените вертикалната позиция на блока */
        float: right; /* Променете блока да бъде приляпнал в дясната страна */
    }

    /* Медия заявки, за да зададете определен размер на екрана, на който ще бъде показан блока в дясната страна */
    @media (max-width: 991.98px) {
        .village-list-wrap {
            position: static; /* На по-малки екрани използвайте статично позициониране, за да го вмествате правилно */
            width: auto; /* Променете широчината обратно на автоматична */
            margin-left: 0; /* Изчистете разстоянието, ако искате да е съвсем вдясно */
        }
    }

    /* Примерен стил за картата на селата */
    /* Стилове за селата */
    .village {
        background-color: #f7f7f7;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 10px;
        text-align: center; /* Центриране на съдържанието на картата */
    }

    /* Стилове за снимките на селата с по-голям размер */
    .village .image-container img {
        width: 100%; /* Снимката ще заема широчината на картата */
        max-height: 300px; /* Променете стойността, за да увеличите или намалите височината на снимките */
        object-fit: cover; /* Снимката ще запълни цялото пространство, запазвайки съотношението на страните */
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: block;
        margin: 0 auto; /* Центриране на снимката */
    }

    /* Стилове за името на селото */
    .village h6 {
        font-size: 17px; /* Увеличете или намалете размера на шрифта, ако желаете */
        margin-bottom: 5px; /* Променете разстоянието между името на селото и бутона Още */
    }

    /* Стил за линковете, които са в заглавията на селата */
    .village h6 a {
      text-decoration: none;
      color: #007bff;
    }

    /* Стилове за бутона Още */
    .village .btn-info {
       margin-top: 0; /* Променете или премахнете маргина, ако е необходимо */
       background-color: #007bff;
       color: #fff;
       border-color: #007bff;
       padding: 5px 15px; /* Променете размера на бутона Още, ако желаете */
       border-radius: 5px;
    }

    /* Стил за линковете, които премахват подчертаването */
    a {
      text-decoration: none;
      color: #007bff;
    }










