        #map {
            margin-top: 30px;
            width: 100%;
            height: 500px;
        }
        .infowindow-text {
            font-weight: 500;
            color: #0379AB;
            transition: color 0.3s ease;
        }
        .infowindow-text:hover {
            color: #96c930;
        }
        .infowindow-link {
            text-decoration: none;
            margin: 0;
            padding: 0;
        }
        .infowindow-container {
            max-width: 300px;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .infowindow-image-container {
            flex: 0 0 auto;
            padding: 0;
            padding-right: 10px;
            width: auto; /* Add this property to make it take the width of its content */
        }

        .village-image {
            max-height: 80px;
            max-width: 100%;
            object-fit: cover;
        }

        .infowindow-text-container {
            flex: 1;
            padding: 0;
            margin: 0;
            padding-right: 10px;
        }

        .infowindow-text {
            margin: 0;
        }

        .gm-style .gm-style-iw {
            padding: 0;
            margin: 0;
        }

        .row {
            flex-wrap: nowrap;
        }

        .village-item {
            flex-basis: calc(33.33% - 20px);
            margin: 10px;
            text-align: center;
        }

        .village-item {
            transition: background-color 0.3s ease;
        }

        .village-item:hover {
        background-color: #96c930;
        color: white;
        }

        .card{
            margin: 10px;
            transition: box-shadow 0.4s ease;
        }
        .card:hover{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .card-body a{
            color: black;
            text-decoration: none;
        }
        .btn-info,
        .btn-info:hover,
        .btn-info:focus,
        .btn-info:active {
            background-color: #96c930 !important;
            border: none !important;
            color: white !important;
            float: right;
            outline: none;
            box-shadow: none;
        }

        .card-actions{
            margin: 20px 40px 20px 0;
        }
        .image-container {
            position: relative;
            overflow: hidden;
            max-height: 200px;
        }

        .image-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        h6 {
            color: black;
            transition: color 0.2s ease;
        }

        h6:hover {
            color: #96c930;
        }



        /*.village {
          display: none;
        }*/
        /*.shown-villages-count{
            float: right;
        }
        #load-more {
          color: #96c930;
          border-color: #96c930;
        }

        #load-more:hover {
          background-color: #96c930;
          color: #fff;
        }*/
        .village-slider {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        .village-grid {
            display: flex;
            flex-wrap: nowrap;
            transition: transform 0.5s ease;
        }

        .village-item {
            flex-basis: calc(33.33% - 20px);
            margin: 10px;
            text-align: center;
            transition: transform 0.5s ease;
        }

        #prevButton,
        #nextButton {
            border-radius: 5px;
            float: right;
            background: white;
            color: #96c930;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            z-index: 1;
            transition: color 0.3s ease, background 0.3s ease;
        }

        #prevButton:hover ,
        #nextButton:hover {
            background: #96c930;
            color: white;
        }

        .container {
            margin: 50px auto;
        }
