
        body {
            padding-left: 0px;
            padding-right: 0px;
        }

        #menu {
            padding: 10px;
            margin-right: 80px;
            float: right;
        }

        .menu-container {
           margin-left: 100px;
           margin-bottom: 20px;
        }

        #menu a {
            margin-right: 10px;
            text-decoration: none;
            color: #96c930;
        }

        i {
            color: #96c930;
        }

        .contact-info {
            margin-bottom: 20px;
        }



        #footer {
            padding: 20px;
        }

        .footer-wrap {
            color: #333;
        }

        .footer-top-wrap {
            padding: 10px 0;
        }

        .footer-widget {
            margin-bottom: 10px;
        }


        .widget-about-site {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .widget-about-site p {
            color: #96c930;
            margin-bottom: 0;
            margin-top: 10px;
        }

        #media_image-2 {
            align-self: flex-start;
            margin-top: 25px;
        }


        .contact-list li {
            margin-bottom: 10px;
        }

        .contact-list li i {
          font-size: 18px; /* Размер на иконите */
          vertical-align: middle; /* Центриране на иконите спрямо текста */
          margin-right: 5px; /* Разстояние между иконите и текста */
        }


        .footer-social .web-facebook-icon {
             color: #96c930;
             font-size: 2rem;
         }

        .footer-social .web-instagram-icon {
             color: #96c930;
             font-size: 2rem;
        }

        .contact-list a {
            color: #96c930;
        }

        .footer-social {
            margin-right: 10px;
        }


        .form-control {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        #subscribe-btn {
            background-color: #fa4a2a;
            color: white;
            font-weight: bold;
            border: 1px solid #fa4a2a;
            border-radius: 5px;
        }

        .footer-widget.widget-about-site,
        .footer-widget.widget-contact-us,
        .widget_text.footer-widget {
            display: flex;
            flex-direction: column;
        }


        .footer-widget.widget-about-site p,
        .footer-widget.widget-contact-us h2.widget-title,
        .widget_text.footer-widget p {
            display: inline;
            margin-right: 10px;
            margin-bottom: 10px;
        }


        .footer-widget .widget-content a,
        .footer-widget .widget-content span {
          text-decoration: none;
        }


        /* Add the following CSS styles to the container */
        .text-left {
            text-align: left; /* Align the button to the left */
        }

        /* Add the following CSS styles to the button */
        .footer-widget .btn-info {
            font-size: 15px; /* Increase the font size to make the button larger */
            white-space: nowrap; /* Prevent text from wrapping */
            padding: 8px 15px; /* Adjust the padding as needed */
            display: flex; /* Use flexbox */
            justify-content: center; /* Center the text horizontally */
            align-items: center; /* Center the text vertically */
        }

        /* Styles for the Абонирай ме! button inside the contact-list */
        .contact-list .btn-subscribe {
            background-color: #fa4a2a;
            color: white;
            font-weight: bold;
            border: 1px solid #fa4a2a;
            width: 120px;
            font-size: 15px;
            white-space: nowrap;
            padding: 8px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Add the following CSS styles to the label */
        .subscription-container label {
            display: block;
        }

        /* Add the following CSS styles to the input field */
        .subscription-container input[type="email"] {
            width: 100%;
        }

        /* Add the following CSS styles to the button */
        .subscription-container button.btn-subscribe {
            align-self: flex-start; /* Align the button to the left */
        }

        /* Add the following CSS styles to the subscription container */
        .subscription-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px; /* Add margin-top to create space between the header and the input field */
            justify-content: flex-start;
            gap: 10px;
        }

        @media (max-width: 767px) {
                #menu {
                    padding: 10px;
                    margin-right: 10px;
                    float: right;
                }

                .menu-container {
                   margin-left: 20px;
                   margin-bottom: 20px;
                }

                #menu a {
                    margin-right: 5px;
                    text-decoration: none;
                    color: #96c930;
                }

                i {
                    color: #96c930;
                }

                .contact-info {
                    margin-bottom: 20px;
                }
        }
