 .message-container {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .message {
   padding: 10px;
   margin: 10px 0;
   border-radius: 5px;
   font-size: 18px;
   color: #fff;
   opacity: 1;
   transition: opacity 2s linear;
   border: 1px solid transparent;
 }

 .message-true {
   background-color: rgba(0, 128, 0, 0.5);
   border-color: green;
   text-shadow: 1px 1px 0px green, -1px -1px 0px green, 1px -1px 0px green, -1px 1px 0px green; /* Green text outlining */
 }

 .message-false {
   background-color: rgba(255, 0, 0, 0.5);
   border-color: red;
   text-shadow: 1px 1px 0px red, -1px -1px 0px red, 1px -1px 0px red, -1px 1px 0px red; /* Red text outlining */
 }

 @keyframes fadeOut {
   80% { opacity: 1; }
   100% { opacity: 0; }
 }
