    * {
      box-sizing: border-box;
    }

    img {
      vertical-align: middle;
      z-index: 1;
    }

    .mySlides {
      display: none;
    }

    .cursor {
      cursor: pointer;
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 60%;
      width: auto;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 16px;
      margin-top: -50px;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
      border: 1px solid black;
      z-index: 2;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev {
      left: 0;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(255, 255, 255, 1);
    }

    .numbertext {
      position: absolute;
      top: 1%;
      color: white;
      font-size: 20px;
      padding: 8px 12px;
      z-index: 2;
    }
    .village-image-container {
      position: relative;
      overflow: hidden;
      padding-top: 50%;
    }
    .container{
      margin-top: 75px;
    }

    .village-image-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }





    .point-icon {
        width: 25px;
        height: 25px;
    }
    .village-name {
        font-size: 18px;
        color: #ADADAD;
        padding: 5px;
    }
    .village-title{
        margin-bottom: 15px;
    }
    .section-title{
        margin-bottom: 25px;
        font-weight: bold;
    }
    section{
        margin-top: 70px;
    }
    .general-information .village-info{
        font-size: 18px;
        font-weight: bold;
    }
    .general-information .info-title{
        font-size: 15px;
        color: #ADADAD;
    }
    hr{
        width: 100%;
        height: 1px;
        background-color: #ADADAD;
        border: none;
    }
    .population .village-info{
        font-size: 17px;
        float: right;
    }
    .population .info-title{
        font-size: 17px;
        font-weight: bold;
    }
    .population-assertions .village-info{
        font-size: 17px;
        float: right;
    }
    .population-assertions .info-title{
        font-size: 17px;
        font-weight: bold;
    }
    .living-conditions .village-info{
        font-size: 17px;
        float: right;
    }
    .living-conditions .info-title{
        font-size: 17px;
        font-weight: bold;
    }
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }

    .active, .accordion:hover {
      background-color: #ccc;
    }

    .accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
    .accordion-container{
        margin-bottom: 15px;
    }
    .answer{
        margin-top: 15px;
    }
    .answer-container hr{
        height: 2px;
    }