<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добави село</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <section>
            <h1>Pomorie & Village Life</h1>
            <p>Сътрудничество</p>
        </section>

        <section>
            <p>Здравейте,<p>
            <p>Моля, попълнете настоящия въпросник, за да добавим селото Ви в платформата Village Life (Живот на село).</p>
            <p>За по-бързо попълване на въпросника, препоръчваме използването на компютър, лаптоп или таблет.</p>
            <p>Благодарим Ви, че избрахте да си сътрудничите с нас!</p>
            <p>Поздрави,</p>
            <p>Village Life</p>
        </section>

        <form action="/villages/save" method="post" th:object="${addVillageFormResult}">
            <section>
                <p>На какво най-близко разстояние се намират следните обекти спрямо селото: </p>
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th th:each="distance : ${T(com.ludogorieSoft.villagelifefrontend.enums.Distance).values()}"
                            th:text="${distance.name}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="object : ${objectsAroundVillage}">
                        <td th:text="${object.type}"></td>
                        <td th:each="distance1 : ${T(com.ludogorieSoft.villagelifefrontend.enums.Distance).values()}">
                            <div class="radio-wrapper">
                                <input type="radio" th:id="${'distance-' + object.id}"
                                       th:name="objectVillageDTOS[__${object.id}__].distance"
                                       th:value="${distance1}" />
                                <input type="hidden" th:id="${'object-' + object.id}"
                                       th:name="objectVillageDTOS[__${object.id}__].objectAroundVillageId"
                                       th:value="${object.id}" />
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <!-- Village name -->
            <section>
                <label for="villageName">Как се казва селото? *</label>
                <input type="text" id="villageName" th:field="*{villageDTO.name}" required>
            </section>

            <!-- Ground Category -->
            <section>
                <p>Към коя категория предимно спада земята в и около селото? *</p>
                <div th:each="groundCategory : ${groundCategories}" class="radio-wrapper">
                    <input type="radio" th:id="${'groundCategory-' + groundCategory.id}"
                           th:field="*{groundCategoryName}" th:value="${groundCategory.groundCategoryName}" required/>
                    <label th:for="${'groundCategory-' + groundCategory.id}"
                           class="radio-label" th:text="${groundCategory.groundCategoryName}"></label>
                </div>
            </section>

            <!-- Population Size -->
            <section>
                <p>Колко човека е населението в селото? *</p>
                <div th:each="populationSize : ${T(com.ludogorieSoft.villagelifefrontend.enums.NumberOfPopulation).values()}"
                     class="radio-wrapper">
                    <input type="radio" th:id="${'populationSize-' + populationSize}"
                           th:name="populationDTO.numberOfPopulation"
                           th:value="${populationSize}" required/>
                    <label th:for="${'populationSize-' + populationSize}"
                           class="radio-label" th:text="${populationSize.name}"></label>
                </div>
            </section>

            <!-- Residents -->
            <section>
                <p>Според Вас, каква част от жителите на селото са хора до 50 години? *</p>
                <div th:each="residents : ${T(com.ludogorieSoft.villagelifefrontend.enums.Residents).values()}"
                     class="radio-wrapper">
                    <input type="radio" th:id="${'residents-' + residents}"
                           th:name="populationDTO.residents"
                           th:value="${residents}" required/>
                    <label th:for="${'residents-' + residents}"
                           class="radio-label" th:text="${residents.name}"></label>
                </div>
            </section>

            <!-- Children -->
            <section>
                <p>Какъв е броят на децата (до 14г.) в селото според Вас? *</p>
                <div th:each="children : ${T(com.ludogorieSoft.villagelifefrontend.enums.Children).values()}"
                     class="radio-wrapper">
                    <input type="radio" th:id="${'children-' + children}"
                           th:name="populationDTO.children"
                           th:value="${children}" required/>
                    <label th:for="${'children-' + children}"
                           class="radio-label" th:text="${children.name}"></label>
                </div>
            </section>

            <!-- Foreigners -->
            <section>
                <p>В селото живеят ли чужденци? *</p>
                <div th:each="foreigners : ${T(com.ludogorieSoft.villagelifefrontend.enums.Foreigners).values()}"
                     class="radio-wrapper">
                    <input type="radio" th:id="${'foreigners-' + foreigners}"
                           th:name="populationDTO.foreigners"
                           th:value="${foreigners}" required/>
                    <label th:for="${'foreigners-' + foreigners}"
                           class="radio-label" th:text="${foreigners.name}"></label>
                </div>
            </section>


            <section>
                <p>Какви малцинствени групи има в района на селото? *</p>
                <div th:each="ethnicity : ${ethnicities}" class="checkbox-wrapper">
                    <input type="checkbox" th:id="${'ethnicity-' + ethnicity.id}"
                           th:name="ethnicityDTOIds"
                           th:value="${ethnicity.id}" />
                    <label th:for="${'ethnicity-' + ethnicity.id}"
                           class="checkbox-label" th:text="${ethnicity.ethnicityName}"></label>
                </div>
            </section>

            <section>
                <div th:each="question, questionIndex : ${questions}" class="question-wrapper">
                    <label th:for="${'question-' + questionIndex}" class="question-label" th:text="${question.question}"></label><br>
                    <textarea th:id="${'question-' + questionIndex}" th:name="questionResponses" rows="4" cols="50" required></textarea>
                </div>
            </section>

            <section>
                <p>До колко сте съгласни със следните твърдения относно хората в селото:</p>
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th th:each="consent : ${T(com.ludogorieSoft.villagelifefrontend.enums.Consents).values()}"
                            th:text="${consent.name}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="populatedAssertion : ${populatedAssertions}">
                        <td th:text="${populatedAssertion.populatedAssertionName}"></td>
                        <td th:each="consent1 : ${T(com.ludogorieSoft.villagelifefrontend.enums.Consents).values()}">
                            <div class="radio-wrapper">
                                <input type="radio" th:id="${'consent-' + populatedAssertion.id}"
                                       th:name="villagePopulationAssertionDTOS[__${populatedAssertion.id}__].answer"
                                       th:value="${consent1}" />
                                <input type="hidden" th:id="${'populatedAssertion-' + populatedAssertion.id}"
                                       th:name="villagePopulationAssertionDTOS[__${populatedAssertion.id}__].populatedAssertionId"
                                       th:value="${populatedAssertion.id}" />
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <button type="submit">Изпрати</button>
        </form>
    </div>
</body>
</html>