<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">


</head>
<body>

<div th:fragment="menu" class="menu-container">
    <a th:href="@{/villages/home-page}">
        <img th:src="@{/images/village-life-logo.png}" alt="village life logo"
             style="width: 175px; height: 60px; margin-top:10px;">
    </a>

    <div id="menu">
        <a th:href="@{/villages/home-page}"> <i class="fa-solid fa-house"></i> НАЧАЛО</a>
        <a th:href="@{/villages/partners}"> <i class="fa-regular fa-handshake"></i> ПАРТНЬОРИ</a>
        <a th:href="@{/villages/about-us}"> <i class="fa-solid fa-users"></i> ЗА НАС</a>
        <a th:href="@{/villages/contacts}"> <i class="fa-regular fa-address-book"></i> КОНТАКТИ</a>
        <!--        <a th:href="@{/villages/create}"> <i class="fa-solid fa-plus"></i> ДОБАВИ СЕЛО!</a>-->
        <a th:href="@{/villages/create}"> <i class="fa-solid fa-seedling"></i> ДОБАВИ СЕЛО!</a>

    </div>
    <span th:text="#{lang.change}"></span>
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.eng}"></option>
        <option value="de" th:text="#{lang.de}"></option>
        <option value="bg" th:text="#{lang.bg}"></option>
    </select>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
          var currentUrl = window.location.href;
                currentUrl = currentUrl.replace(/(\?|\&)lang=[^&]+/, '');
                currentUrl += (currentUrl.includes('?') ? '&' : '?') + 'lang=' + selectedOption;
                window.location.replace(currentUrl);
        }
    });
});

    </script>
</div>

<div th:fragment="footer">
    <div id="footer">
        <hr>
        <footer class="footer-wrap footer-wrap-v1">
            <div class="footer-top-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget widget widget-wrap widget-about-site">
                                <div class="widget-body">
                                    <div class="widget-content">
                                        <p style="color: #96c930;">Платформа за модерния човек, търсещ по-естествен и
                                            природосъобразен начин на живот.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="media_image-2" class="footer-widget widget widget-wrap widget_media_image">
                                <a th:href="@{/villages/home-page}"><img
                                        th:src="@{/images/village-life-logo-circle.png}"
                                        class="media_image wp-image-16856 attachment-full size-full lazyload" alt
                                        decoding="async" style="max-width: 100%; height: auto;"/></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-widget widget widget-wrap widget-contact-us">
                                <div class="widget-header">
                                    <h2 class="widget-title">Свържи се с нас</h2>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-content">
                                        <p></p>
                                        <ul class="list-unstyled contact-list">
                                            <li><i class="fa-solid fa-map-location-dot"></i> <a
                                                    href="https://goo.gl/maps/Z17gzgaXYJSW5FaU7" target="_blank"
                                                    style="color: #96c930;">гр. София, бул. &bdquo;Гоце Делчев&rdquo;
                                                100</a></li>
                                            <li><i class="fa-solid fa-phone"></i> <a href="tel:+359888393339"
                                                                                     style="color: #96c930;">+359 (0)
                                                888 393 339</a></li>
                                            <li><i class="fa-regular fa-envelope"></i> <a
                                                    href="mailto:info@villagelife.bg" style="color: #96c930;">info@villagelife.bg</a>
                                            </li>
                                            <li>
                                                &nbsp;
                                                <div class="footer-social">
                                                    <a class="btn-facebook" target="_blank"
                                                       href="https://www.facebook.com/VillageLifeBulgaria/">
                                                        <i class="fa-brands fa-facebook-f fa-beat fa-2xl web-facebook-icon"></i>
                                                        <span style="color: #96c930;">&nbsp;VillageLifeBulgaria</span>
                                                    </a>
                                                </div>
                                                &nbsp;
                                                <div class="footer-social">
                                                    <a class="btn-instagram" target="_blank"
                                                       href="https://www.instagram.com/villagelifebulgaria/?hl=bg">
                                                        <i class="fa-brands fa-instagram fa-beat fa-2xl web-instagram-icon"></i>
                                                        <span style="color: #96c930;">villagelifebulgaria</span>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-6">
                            <div class="footer-widget widget widget-wrap widget-contact-us">
                                <p style="color: #96c930; font-weight: 400;">Получавай известия за новите села в
                                    платформата и новости за живота на село.</p>
                                <div class="widget-body">
                                    <div class="widget-content">
                                        <p>
                                        <form action="/villages/subscription-save" method="post" id="subscription-form"
                                              th:object="${subscription}">
                                            <label for="email"
                                                   style="display: block; text-align: left; color: black; font-weight: 500;">
                                                Имейл
                                                <span class="text-danger">*</span>
                                            </label>

                                            <div class="subscription-container">
                                                <input type="email" id="email" name="email" th:field="*{email}"
                                                       class="form-control"
                                                       placeholder="Въведете електронната си поща" required
                                                       style="text-align: left;">
                                                <button type="submit" id="subscribe-btn" class="btn btn-subscribe">
                                                    Абонирай ме!
                                                </button>
                                            </div>
                                        </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-bottom-wrap footer-bottom-wrap-v1">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <div class="footer-copyright">
                            &copy; VillageLife - Всички права запазени. Разработка -

                            <span><a href="https://ludogoriesoft.com/" target="_blank"
                                     style="color: #96c930; text-decoration: none;">
                                <img th:src="@{/images/ludogorie-soft-logo.jpg}" alt="Ludogorie soft"
                                     style="width: 200px; height: auto;"></a></span>


                            <a th:href="@{/villages/general-terms}" style="text-decoration: none; color: black;"
                               class="general-terms"> | Общи условия |</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 5;">
        <div id="liveSubscriptionToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img th:src="@{/images/village-life-logo-icon.png}" class="rounded me-2" alt="logo"
                     style="width: 25px;">
                <strong class="me-auto">Village Life</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-subscription-body" th:text="${subscriptionMessage}"
                 style="margin: 15px; font-weight: 500; font-size: 16px;"></div>
        </div>
    </div>

</div>


<div th:fragment="hamburger-menu" id="hamburger-menu">
    <a th:href="@{/villages/home-page}">
        <img th:src="@{/images/village-life-logo.png}" alt="village life logo" class="smaller-logo-image">
    </a>

    <div id="myNav" class="nav-overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <img th:src="@{/images/x-button.png}" alt="x">
        </a>
        <div class="nav-overlay-content">
            <a th:href="@{/villages/home-page}"> <i class="fa-solid fa-house"></i> НАЧАЛО</a>
            <hr>
            <a th:href="@{/villages/partners}"> <i class="fa-regular fa-handshake"></i> ПАРТНЬОРИ</a>
            <hr>
            <a th:href="@{/villages/about-us}"> <i class="fa-solid fa-users"></i> ЗА НАС</a>
            <hr>
            <a th:href="@{/villages/contacts}"> <i class="fa-regular fa-address-book"></i> КОНТАКТИ</a>
            <hr>
            <!--            <a th:href="@{/villages/create}"> <i class="fa-solid fa-plus"></i> ДОБАВИ СЕЛО!</a>-->
            <a th:href="@{/villages/create}"> <i class="fa-solid fa-seedling"></i> ДОБАВИ СЕЛО!</a>
        </div>
    </div>
    <span class="hamburger-menu-icon" onclick="openNav()">&#9776;</span>
</div>

<nav th:fragment="admin-navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/villages/home-page}">
        <img th:src="@{/images/logo.png}" alt="Logo" style="max-width: 130px; height: auto;" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/villages/home-page}">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admins/village">Villages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admins/getRejected">
                    <i class="far fa-folder-open"></i> Archive
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrators</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/admins}">All Administrators</a></li>
                    <li><a class="dropdown-item" th:href="@{/auth/register}">New Administrator</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admins/subscriptions">Subscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/uploadFile">Upload File</a>
            </li>
        </ul>
    </div>
    <div class="welcome-col col-md-6">
        <h4 id="welcome">Welcome, <span th:text="${admins}"></span>!</h4>
    </div>
    <form class="logout-button" th:action="@{/admins/logout}" method="get">
        <input type="submit" value="Logout" class="btn btn"/>
    </form>
</nav>

</body>
</html>