<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link th:href="@{/images/village-life-logo-icon.png}" rel="icon" type="image/png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/menuStyle.css">
    <link rel="stylesheet" href="/css/generalTerms.css">

</head>

<body>

<div th:replace="fragments :: menu"></div>

<section class="page-wrap">
    <div class="container">
        <div class="page-title-wrap">
            <div class="breadcrumb-wrap">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/villages/home-page}"><span>Начало</span></a></li>
                        <li class="breadcrumb-item active">Общи условия</li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex align-items-center">
                <div class="page-title flex-grow-1">
                    <h1>Общи условия</h1>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-8 col-md-12 bt-content-wrap">
                <div class="article-wrap">
                    <article>

                        <div class="page-content-wrap">
                            <p><strong>Общи условия за използване на Village Life</strong><br/>
                                <strong>I. Предмет на условията</strong><br/>
                                1. Village Life е бранд представляван от дружеството &ldquo;Гоу-Онн&rdquo; ЕООД с ЕИК:
                                206395428 и
                                адрес на регистрация София, ул. „Димитър Манов“, блок 45<br/>
                                2. Общи условия са споразумение между Вас (потребител на услуги) и &ldquo;Гоу-Онн&rdquo;
                                ЕООД.<br/>
                                3. &ldquo;Гоу-Онн&rdquo; ЕООД предоставя чрез сайта Village Life информативни услуги
                                описани в
                                тези общи условия на своите потребители.<br/>
                                4. Услуги без да е необходима предварителна регистрация са предоставяне на видео,
                                изображения, текст и други, включително предоставени от потребители.<br/>
                                5. Услуги само след предварителна регистрация са свързани с получването на повече
                                информация и контакт в дадено село, получаване сравнителна извадка за параметрите между
                                села, обяви за работа, имоти и други услуги.</p>
                            <p><strong>II. Обхват и влизане в сила</strong><br/>
                                1. Общите условия се прилагат за всички потребители на сайта Village Life.<br/>
                                2. С влизането на Village Life от потребителите се счита, че са запознати с настоящите
                                общи условия, съгласяват се с тях и се задължават да ги спазват. От този момент се
                                приема, че те влизат в сила и срокът им на действие изтича с прекратяване
                                ползването.<br/>
                                4. Когато се регистрира, чрез отбелязване в поле съдържащо съгласие включващо и Общите
                                условия и/или натискане на виртуалния бутон &#8220;Регистрирай&#8221;, „Регистрация“,
                                „Изпрати“ с условието, че това е съгласие с Общите условия, потребителят извършва
                                изрично съгласие, с което декларира, че е запознат с настоящите Общи условия, приема ги,
                                съгласява се с тях и се задължава да ги спазва. От този момент се приема, че те влизат в
                                сила и срокът им на действие изтича с прекратяване на регистрацията.</p>
                            <p><strong>III. Потребителска регистрация</strong><br/>
                                1. При запитване на villagelife.bg се предоставят адрес на електронна поща, име и
                                телефон. Възможно е и добавянето на други данни по избор на потребителя.<br/>
                                2. При запитването си потребителят посочва електронна поща, телефон и име. Чрез тях
                                потребителя получава достъп до потребителския си профил да ползва допълнителни услуги
                                (I.4).<br/>
                                3. &ldquo;Гоу-Онн&rdquo; ЕООД не проверява и не носи отговорност за споделените лични
                                данни, за това дали те засягат права на трети лица и в частност право на име или други
                                лични права, право на търговско наименование, право на запазена марка или други права на
                                интелектуална собственост.</p>
                            <p><strong>IV. Права и задължения на потребителя</strong><br/>
                                1. Потребителят има право на онлайн достъп до услугите предоставяни от &ldquo;Гоу-Онн&rdquo;
                                ЕООД.<br/>
                                2. Регистрираният потребител има право да поиска от администратор да изтриване личните
                                данни съхранявани за него.<br/>
                                3. Потребителят може да осъществява достъп до потребителско съдържание или всякакво
                                друго съдържание, публикувано на Сайтовете, единствено за лично ползване, при ползване
                                на нормалната им функционалност.</p>
                            <p><strong>V. Права и задължения на &ldquo;Гоу-Онн&rdquo; ЕООД</strong><br/>
                                1. &ldquo;Гоу-Онн&rdquo; ЕООД се задължава да полага необходимите грижи за предоставяне
                                на услугите съобразно настоящите общи условия.<br/>
                                2. &ldquo;Гоу-Онн&rdquo; ЕООД не носи отговорност за споделяното потребителското
                                съдържание, както и за дейността на потребителя във връзка с използване на
                                предоставяните услуги.<br/>
                                3. &ldquo;Гоу-Онн&rdquo; ЕООД има правото да поставя на всяка от страниците на сайта,
                                линкове, рекламни банери и рекламни съобщения за стоки и услуги, предлагани от
                                дружеството или от трети лица, както и линкове и рекламни банери, сочещи към уебсайтове,
                                намиращи се извън контрола на &ldquo;Гоу-Онн&rdquo; ЕООД. Дружеството не носи
                                отговорност за съдържанието, верността и законосъобразността на подобни интернет
                                страници или ресурси, както и на услуги или ресурси, които са станали достояние на
                                потребителя при ползването услугите на Сайтовете.<br/>
                                4. &ldquo;Гоу-Онн&rdquo; АД има право да предоставя възможност на трети страни да
                                позиционират реклама и/или рекламни съобщения посредством техни системи за управление на
                                реклама, както и да дава възможност на трети страни да получават автоматизирано данни за
                                поведението на потребителите за рекламни или статистически цели при спазване на
                                приложимите норми. За повече информация виж Политика за поверителност на личните
                                данни.<br/>
                                5. &ldquo;Гоу-Онн&rdquo; ЕООД има право да заличи или коригира публикувано потребителско
                                съдържание, или дори да заличи информация за потребител, който не спазва тези Общи
                                условия.<br/>
                                6. &ldquo;Гоу-Онн&rdquo; ЕООД има право да изпраща на предоставената от потребителя
                                електронна поща и телефон съобщения с търговски и нетърговски характер.</p>
                            <p><strong>VI. Интелектуална собственост</strong><br/>
                                1. Всички права на интелектуална собственост върху информационните ресурси и материали,
                                публикувани на сайтовете от &ldquo;Гоу-Онн&rdquo; ЕООД са обект на закрила по действащия
                                Закон за авторското право и сродните му права, а нерегламентираното им използване
                                представлява закононарушение и може да доведе до гражданска, административно наказателна
                                и наказателна отговорност в съответствие с действащото българско законодателство.
                                Публикуване на значителна част от материал може да става само при поставяне на активен
                                линк към материала. Директно препечатване на материал (copy/paste) или препечатване с
                                незначителни изменения може да става само след изрично разрешение от &ldquo;Гоу-Онн&rdquo;
                                ЕООД.<br/>
                                2. С разполагането на текст или друг материал (собствено съдържание) на villagelife.bg,
                                потребител предоставя на Дружеството неизключителното право да го използва, записва,
                                съхранява, разпространява публично в Интернет, за нуждите на и във връзка с
                                предоставянето на услугите, предмет на Общите условия, без времеви и териториални
                                ограничения.<br/>
                                3. Регистрираният потребител е единствено отговорен за законността на потребителското
                                съдържание, което публикува или прави достъпно, чрез ползването на услугите на сайтa,
                                както и за действията си по публикуването му и за последствията от това публикуване.</p>
                            <p><strong>VII. Ограничаване на отговорността</strong><br/>
                                1. При публикуване на медийно съдържание &ldquo;Гоу-Онн&rdquo; ЕООД се стреми да
                                поддържа точна,
                                вярна и последна информация на сайта, но не може да гарантира, че няма да възникнат
                                грешки, несъответствия и пропуски. Дружеството не носи отговорност за последиците и
                                евентуални вреди, породени от използването на информацията. &ldquo;Гоу-Онн&rdquo; ЕООД
                                не носи
                                отговорност за субективните възприятия и интерпретация на точността, пълнотата и
                                полезността на публикуваната информация. &ldquo;Гоу-Онн&rdquo; ЕООД не носи отговорност
                                за
                                информацията, съдържаща се в сайтове, към които някой от нейните сайтове съдържа
                                препратки.<br/>
                                2. &ldquo;Гоу-Онн&rdquo; ЕООД полага грижи за предоставяне на възможност на потребителя
                                за нормално
                                ползване на услугите които предоставя, но няма задължението и не гарантира, че
                                предоставяните услуги ще удовлетворят изискванията на потребителя, нито че ще бъдат
                                непрекъснати, навременни или сигурни. С приемане на настоящите Общи условия,
                                потребителят декларира, че използването на предоставяните услуги ще бъде изцяло на негов
                                риск и отговорност, а страните се съгласяват, че &ldquo;Гоу-Онн&rdquo; ЕООД не отговоря
                                за
                                евентуално причинени на потребителя при ползване на предоставяните услуги вреди.<br/>
                                3. &ldquo;Гоу-Онн&rdquo; ЕООД не носи отговорност за потребителското собствено
                                съдържание, както и
                                за дейността на потребителя във връзка с използване на услугите. Освен това, дружеството
                                не отговаря за произтеклите за други потребители вреди при достъпа или използването на
                                това съдържание, предоставено им от потребителя или станало достъпно чрез Сайта.<br/>
                                4. &ldquo;Гоу-Онн&rdquo; ЕООД не носи отговорност за действията на трети страни
                                позиционирали
                                реклама или рекламни съобщения в Сайта.</p>
                            <p><strong>VIII. Поверителност и лични данни</strong><br/>
                                1.&ldquo;Гоу-Онн&rdquo; ЕООД обработва информацията, съдържаща идентифициращи данни,
                                предоставяни от
                                потребителите онлайн посредством попълнените заявки за регистрация и в резултат на
                                техните действия в Сайта, спазвайки принципите на Общия регламент за защита на личните
                                данни (GDPR) и поетите ангажименти в Политиката за поверителност на личните данни.<br/>
                                2.&ldquo;Гоу-Онн&rdquo; ЕООД има право да събира и използва информация относно
                                потребителите.
                                Информацията, чрез която лицето може да бъде идентифицирано, може да включва адрес на
                                електронна поща, име и телефон, както и всяка друга информация, която потребителят
                                доброволно въвежда, използва или предоставя при ползване на услугите. С оглед избягване
                                на всякакво съмнение, публикуваното от потребител собствено съдържание не се разглежда
                                като лични данни и поради това не е предмет на защитата, предоставяна относно личните
                                данни на потребителя съгласно настоящите Общи условия.<br/>
                                3.&ldquo;Гоу-Онн&rdquo; ЕООД може да използва информация за посещаемостта на сайтовете,
                                действията
                                на потребителите и данните попълнени при регистрация на профил за осъществяване на
                                услугите си с всичките им функционални възможности, за поддържане на информационната
                                сигурност, оптимизиране и предлагане на препоръчано съдържание, статистически и
                                маркетингови проучвания, позициониране на реклама и рекламни съобщения и цели свързани с
                                качеството и стабилността на предоставяните услуги и подобряването им.<br/>
                                4.&ldquo;Гоу-Онн&rdquo; ЕООД има право самостоятелно, чрез трети лица или чрез
                                автоматизирани
                                средства, да следи активности на потребителя, включващи, но не само:<br/>
                                • отваряни страници на Сайта,<br/>
                                • продължителност на престой в страницата,<br/>
                                • попълнени анкети,<br/>
                                • време и дата на засеченото събитие,<br/>
                                при използването на Сайта с цел предоставянето на по-достъпни и по-атрактивни
                                функционалности за потребителя или позициониране на реклама.<br/>
                                5.„Гоу-Онн“ ЕООД може да предоставя на трети страни възможност за автоматизирано
                                събиране на данни за активностите на потребители за осъществяване основно на рекламни и
                                статистически цели.<br/>
                                6. Потребителят има право по всяко време да откаже съхраняването или достъпа до
                                информацията, съхранена в използваното от него крайно устройство при използване на
                                „бисквитки“. Забраната или изтриването на „бисквитки“ от страна на потребителя може да
                                доведе до пълна или частична невъзможност за достъп до Сайтовете или да получи услугите
                                по тези Общи условия. Виж Политиката за поверителност на личните данни.</p>
                            <p><strong>IX. Промени в общите условия</strong><br/>
                                „Гоу-Онн“ ЕООД си запазва правото да извършва промени в настоящите Общи условия по всяко
                                време, като своевременно публикува промените в този сайт с линкове в останалите.<br/>
                                За всички неуредени с настоящите Общи условия въпроси се прилага действащото българско
                                законодателство.<br/>
                                Последна промяна 29.11.2022 г.</p>
                            <p>&nbsp;</p>
                            <hr/>
                            <p>&nbsp;</p>
                            <p><strong>Политика за използване на “бисквитки”</strong><br/>
                                <strong>Какво са бисквитки?</strong><br/>
                                Бисквитките са малки текстови файлове, които уебсайтът може да запише на вашия компютър
                                или мобилно устройство, когато посещавате страница или сайт. Бисквитката ще помогне на
                                сайта или на други сайтове да разпознаят вашето устройство следващия път, когато го
                                посетите. Web beacons или други подобни файлове могат да правят същото. Използваме
                                термина бисквитки в тази политика, за да назоваваме всички файлове, които събират
                                информация по този начин.</p>
                            <p><strong>Какви видове бисквитки използваме в сайта на “Village Life”?</strong><br/>
                                Временните бисквитки (или бисквитките от дадена сесия) ще се премахнат от компютъра,
                                след като затворите вашият браузър. Уеб сайтовете ги използват за съхраняване на
                                временна информация, например артикулите във вашата кошница за пазаруване.</p>
                            <p><strong>Какво представляват постоянните бисквитки?</strong><br/>
                                Постоянните бисквитки (или запазените бисквитки) ще останат в компютъра, след като
                                затворите вашият браузър. Уеб сайтовете ги използват за съхраняване на информация,
                                например вашето име и парола за влизане, така че да не е необходимо да се регистрирате
                                всеки път, когато посетите даден сайт. Постоянните бисквитки могат да останат на вашия
                                компютър дни, месеци и дори години.</p>
                            <p>По принцип бисквитките изпълняват 3 функции:<br/>
                                1. Бисквитки свързани с анализ ефективността на сайта.<br/>
                                Използваме бисквитки, за да анализираме как посетителите използват сайтa ни и за да
                                наблюдаваме представянето на нашия сайт. Това ни позволява да ви предложим преживяване с
                                високо качество, като персонализираме предлаганото съдържание и бързо идентифицираме и
                                отстраняваме различни проблеми. За по-добра прецизност сайтът ни използва инструменти на
                                Google Analytics &amp; Hot Jar.</p>
                            <p>2. Функционални бисквитки<br/>
                                Функционалните бисквитки ни позволяват да запомним вашите предпочитания, като големината
                                на шрифта и други ваши прсонални настройки, както и бутони за споделяне към социалните
                                мрежи.</p>
                            <p>3. Таргетирани рекламни бисквитки<br/>
                                “Village Life” използва бисквитките за таргетирана реклама в платформите на Meta, Google
                                Adwords &amp; Linkedin.</p>
                            <p>Бисквитеките на villagelife.bg се използват само от &ldquo;Гоу-Онн&rdquo; ЕООД.</p>
                            <p><strong>Как да изключите бисквитките?</strong><br/>
                                Всички съвременни браузъри ви позволяват да променяте настройките за бисквитки.
                                Обикновено можете да намерите тези настройки в меню “опции” или “предпочитания” на вашия
                                браузър. За да сте наясно с тези настройки, следните линкове могат да Ви помогнат или
                                можете да използвате бутона “Помощ” от менютата на Вашия браузър за повече детайли:</p>
                            <p>
                                <a href="http://windows.microsoft.com/en-GB/internet-explorer/delete-manage-cookies#ie=ie-10">Cookie
                                    settings in Internet Explorer</a><br/>
                                <a href="http://support.mozilla.com/en-US/kb/Cookies">Cookie settings in
                                    Firefox</a><br/>
                                <a href="https://support.google.com/chrome/answer/95647?hl=en&amp;ref_topic=14666">Cookie
                                    settings in Chrome</a><br/>
                                <a href="http://support.apple.com/kb/PH5042">Cookie settings in Safari web</a> and <a
                                    href="http://support.apple.com/kb/HT1677">iOS</a>.</p>
                            <p>Ако се притеснявате най-много за рекламните бисквитки към трети страни генерирани от
                                рекламодатели, можете да ги изключите от тук: <a
                                        href="http://www.youronlinechoices.com/bg">Your Online Choices site</a>.</p>
                            <p>Моля да запомните, че ако решите да спрете бисквитките, някои секции от нашия сайт може
                                да не работят правилно.</p>
                            <p>Използва ли magnifico.bg бисквитки, които съдържат личните ми данни?<br/>
                                Не, бисвкитките, които използваме са анонимни и не съдържат никакви лични данни.</p>
                            <p>Повече информация за това как бизнесът използва бисквитките е налична на: <a
                                    href="http://www.allaboutcookies.org/">www.allaboutcookies.org</a>.</p>
                            <p>Ако имате някакви въпроси по отношение на тази Политика за бисквитки, свържете се с нас
                                на имейл info@villagelife.bg.
                            </p>
                            <p>Този документ е обновяван за последно на 21 октомври 2022 г.</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-4 village-list-wrap">
                <div class="custom-container">
                    <div th:if="${noVillagesMessage}" class="message alert alert-info text-center">
                        <p th:text="${noVillagesMessage}"></p>
                    </div>
                    <div class="row village-list-wrap">
                    <div th:each="village, iterStat : ${villages}" class="col-12 col-md-6 col-lg-12 village" th:if="${iterStat.index} &lt; 10">

                        <div class="card">
                                <div class="image-container" th:if="${village.images}">
                                    <img th:src="'data:image/jpeg;base64,' + ${village.images[0]}"
                                         onerror="this.onerror=null;this.src='/images/pexels-alexander-kovalev-2871478.jpg';">
                                </div>
                                <div class="card-body">
                                    <a th:href="@{/villages/show/{id}(id=${village.id})}">
                                        <h6 th:text="'село ' + ${village.name} + ', област ' + ${village.region}"></h6>
                                    </a>
                                    <br>
                                    <a th:href="@{/villages/show/{id}(id=${village.id})}" class="btn btn-info">Още</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments :: footer"></div>

</body>
</html>
