<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/images/village-life-logo-icon.png}" rel="icon" type="image/png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <title>Начало - VillageLife</title>

    <link rel="stylesheet" href="/css/homePage.css">
    <link rel="stylesheet" href="/css/menuStyle.css">

    <script src="/js/homePageVideos.js"></script>

<body>

<div class="video-container">

    <div th:replace="fragments :: menu"></div>
    <div th:replace="fragments :: hamburger-menu"></div>

    <video id="video2" th:src="@{/videos/home-page-video-2.mp4}" alt="video2" class="fullscreen-video" autoplay loop
           muted></video>

    <div th:if="${error}" class="error-message text-center"
         style="font-size: larger; color: #96c930; font-weight: bold;">
        <p th:text="${#strings.toUpperCase(error)}"></p>
    </div>

    <div class="video-overlay">
        <h1>Открий най-подходящото село!</h1>

        <div class="search-bar-row">
            <form th:action="@{/filter/all}" method="get" class="d-flex align-items-center">
                <div class="col-3 d-flex align-items-center">
                    <div class="input-group">
                        <select name="region" class="form-select flex-grow-1" id="regionName">
                            <option value="" selected disabled style="text-align: left;">Избери област</option>
                            <option th:each="region : ${regions}" th:value="${region.regionName}" th:text="${region.regionName}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-9 d-flex">
                    <div class="input-group">
                        <label class="input-group-text" for="search-input">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </label>
                        <input type="text" name="keyword" id="search-input" class="form-control" placeholder="Търси по име на село">
                        <button class="btn btn-secondary" type="submit">Търсене</button>
                    </div>
                </div>
            </form>
        </div>
        <p> Village Life е платформа, която предоставя информация за условията на живот в
            българските села. Платформата ще помогне да се ориентираш по-добре и да вземеш по-осведомено решение при
            избор
            на
            село за заселване.</p>
    </div>
</div>

<div class="custom-container" th:if="${villages != null and !villages.empty}">

    <div class="row col-12">
        <div th:each="village : ${villages}" class="col-lg-4 col-md-6 col-sm-12 village">
            <div class="card">

                <div class="image-container">
                    <img th:each="imageSrc, iterStat : ${village.images}"
                         th:src="'data:image/jpeg;base64,' + ${imageSrc}"
                         onerror="this.onerror=null;this.src='/images/pexels-alexander-kovalev-2871478.jpg';">
                </div>

                <div class="card-body">
                    <a th:href="@{/villages/show/{id}(id=${village.id})}">
                        <h6 th:text="'село ' + ${village.name} + ', област ' + ${village.region}"></h6>
                    </a>
                    <br>
                    <a th:href="@{/villages/show/{id}(id=${village.id})}" class="btn btn-info">Още</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-actions">
        <span class="shown-villages-count">Показани <span id="card-count"></span> от <span id="card-total"></span> села</span><br>
        <div class="text-center">
            <button id="load-more" class="btn btn-outline-success">Покажи още</button>
        </div>
    </div>
</div>

<div th:if="${noVillagesMessage}" class="message alert alert-info text-center">
    <p th:text="${noVillagesMessage}"></p>
</div>

<div th:if="${errorMessage}" class="message alert alert-danger text-center">
    <p th:text="${errorMessage}"></p>
</div>

<div th:replace="fragments :: footer"></div>

<script src="/js/addEventListener.js"></script>
<script src="/js/navScript.js"></script>

</body>
</html>
