<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/images/village-life-logo-icon.png}" rel="icon" type="image/png"/>
    <title>Карта - VillageLife</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/menuStyle.css">
</head>
<body>

    <div th:replace="fragments :: hamburger-menu"></div>
    <div th:replace="fragments :: menu"></div>

    <div class="search-bar-row">
        <form th:action="@{/filter/all}" method="get" class="d-flex flex-column flex-sm-row align-items-center">
            <div class="col-12 col-sm-4 d-flex align-items-center justify-content-center mb-2 mb-sm-0">
                <div class="input-group">
                    <select name="region" class="form-select fixed-width" id="regionName">
                        <option value="" selected disabled style="text-align: left;">Избери област</option>
                        <option th:each="region : ${regions}" th:value="${region.regionName}"
                                th:text="${region.regionName}"></option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-8 d-flex align-items-center justify-content-center mb-2 mb-sm-0">
                <div class="input-group">
                    <label class="input-group-text icon-label" for="search-input">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                    <input type="text" name="keyword" id="search-input" class="form-control form-control-sm"
                           placeholder="Търси по име на село">
                    <button class="btn btn-secondary btn-sm" type="submit" style="font-weight: bold;">Търсене
                    </button>
                </div>
            </div>
        </form>
        <div class="filter-button-container mt-2" style="z-index: 5;">
            <button type="button" class="btn btn-light custom-filter-button" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                <i class="fas fa-filter"></i> Филтър за разширено търсене
            </button>
        </div>
    </div>

<!--    <div id="modalContainer"></div>-->
    <div id="map"></div>

    <div class="container">
        <button id="nextButton">Next</button>
        <button id="prevButton">Prev</button>

        <div class="village-slider">
            <div class="village-grid">
                <div class="row col-12">
                    <div th:each="village : ${villages}" class="col-lg-4 col-md-6 col-sm-12 village">
                        <div class="card">
                            <div class="image-container">
                                <img th:each="imageSrc, iterStat : ${village.images}"
                                     th:src="'data:image/jpeg;base64,' + ${imageSrc}"
                                     onerror="this.onerror=null;this.src='/images/pexels-alexander-kovalev-2871478.jpg';">
                            </div>

                            <div class="card-body">
                                <a th:href="@{/villages/show/{id}(id=${village.id})}">
                                    <h6 th:text="'село ' + ${village.name} + ', област ' + ${village.region}"></h6>
                                </a>
                                <br>
                                <a th:href="@{/villages/show/{id}(id=${village.id})}" class="btn btn-info">Научи още</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments :: footer"></div>

<script src="/js/fetch-modal-script.js"></script>
<script src="/js/navScript.js"></script>
<script src="/js/showSubscriptionToast.js"></script>
<script th:inline="javascript">
    var villageDTOS = [[${villages}]];
    var villageLinkBaseUrl = '/villages/show/';
    var map;
    var markers = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 42.7339, lng: 25.4858 },
            zoom: 7
        });

        var customMarkerImage = {
            url: '/images/pin.png',
            scaledSize: new google.maps.Size(44, 56)
        };

        for (var i = 0; i < villageDTOS.length; i++) {
            createMarker(villageDTOS[i], customMarkerImage);
        }

        var script = document.createElement('script');
        script.src = 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js';
        script.defer = true;

        script.onload = function () {
            var markerCluster = new MarkerClusterer(map, markers, {
                imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m',
                gridSize: 50,
                maxZoom: 15,
            });
        };

        document.head.appendChild(script);
    }

    function createMarker(village, customMarkerImage) {
        var villageName = village.name;
        var villageRegion = village.region;
        var villageId = village.id;
        var villageImage = village.images[0];

        geocodeAddress(villageName, villageRegion, function (lat, lng) {
            if (lat && lng) {
                var marker = new google.maps.Marker({
                    position: { lat: lat, lng: lng },
                    map: map,
                    title: villageName,
                    icon: customMarkerImage
                });

                var contentString =
                    '<div class="row infowindow-container">' +
                        '<div class="infowindow-image-container col">' +
                            '<a class="infowindow-link" href="' + villageLinkBaseUrl + villageId + '" >' +
                                '<img class="village-image" src="' + (villageImage ? 'data:image/jpeg;base64,' + villageImage : '/images/pexels-alexander-kovalev-2871478.jpg') + '" alt="village image">' +
                            '</a>' +
                        '</div>' +
                        '<div class="infowindow-text-container col">' +
                            '<a class="infowindow-link" href="' + villageLinkBaseUrl + villageId + '" >' +
                                '<p class="infowindow-text">село ' + villageName + ' област ' + villageRegion + '</p>' +
                            '</a>' +
                            '<p style="padding-top: 5px;">СЕЛО</p>' +
                        '</div>' +
                    '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });

                markers.push(marker);
            }
        });
    }

    function geocodeAddress(address, region, callback) {
        var geocoder = new google.maps.Geocoder();
        var fullAddress = address + ', ' + region;

        geocoder.geocode({ 'address': fullAddress }, function (results, status) {
            if (status === 'OK' && results[0]) {
                var location = results[0].geometry.location;
                callback(location.lat(), location.lng());
            } else {
                console.error('Geocode was not successful for the following reason: ' + status);
                callback(null, null);
            }
        });
    }
</script>
<script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey} + '&callback=initMap'}" async defer></script>
<script src="/js/villageSlider.js"></script>
</body>
</html>