<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/images/village-life-logo-icon.png}" rel="icon" type="image/png"/>
    <title>Карта - VillageLife</title>
    <style>
        .infowindow-text {
            font-weight: 500;
            color: #0379AB;
            transition: color 0.3s ease;
        }
        .infowindow-text:hover {
            color: #96c930;
        }
        .infowindow-link {
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Google Map Example</h1>
<div id="map" style="width: 100%; height: 500px;"></div>

<script th:inline="javascript">
    var villageDTOS = [[${villages}]];
    var villageLinkBaseUrl = '/villages/show/';

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 42.7339, lng: 25.4858 },
            zoom: 7
        });

        var customMarkerImage = {
            url: '/images/pin.png',
            scaledSize: new google.maps.Size(44, 56)
        };

        for (var i = 0; i < villageDTOS.length; i++) {
            createMarker(villageDTOS[i], map, customMarkerImage);
        }
    }

    function createMarker(village, map, customMarkerImage) {
        var villageName = village.name;
        var villageRegion = village.region;
        var villageId = village.id;

        geocodeAddress(villageName, villageRegion, function(lat, lng) {
            if (lat && lng) {
                var marker = new google.maps.Marker({
                    position: { lat: lat, lng: lng },
                    map: map,
                    title: villageName,
                    icon: customMarkerImage
                });

                var contentString =
                    '<div>' +
                        '<a class="infowindow-link" href="' + villageLinkBaseUrl + villageId + '" >' +
                            '<p class="infowindow-text">село ' + villageName + ' област ' + villageRegion + '</p>' +
                        '</a>' +
                        '<p>СЕЛО</p>' +
                    '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });
            }
        });
    }

    function geocodeAddress(address, region, callback) {
        var geocoder = new google.maps.Geocoder();
        var fullAddress = address + ', ' + region;

        geocoder.geocode({ 'address': fullAddress }, function(results, status) {
            if (status === 'OK' && results[0]) {
                var location = results[0].geometry.location;
                callback(location.lat(), location.lng());
            } else {
                console.error('Geocode was not successful for the following reason: ' + status);
                callback(null, null);
            }
        });
    }
</script>
<script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey} + '&callback=initMap'}" async defer></script>
</body>
</html>