<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EVP5MJERRY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EVP5MJERRY');
    </script>
    <!-- Meta Pixel Code -->
    <script>
        function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '827137978479661');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=827137978479661&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
    <!-- Hotjar Tracking Code for https://villagelife.bg -->
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3202998,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Разширено търсене - VillageLife</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

</head>
<body>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" th:text="#{advanced.search}"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <form id="searchForm" action="/filter/search/0" method="get" th:object="${advancedSearchForm}">


                        <section>
                            <p class="fw-bold" th:text="#{choose.objects}"></p>
                            <table class="table table-hover">
                                <tbody>
                                <tr th:each="object : ${objectsAroundVillage}">
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   th:id="'object-' + ${object.id}"
                                                   th:name="objectAroundVillageDTOS" th:value="${object.type}"/>
                                            <label class="form-check-label" th:for="'object-' + ${object.id}" th:text="#{${object.type}}"></label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </section>


                        <section>
                            <label for="children" class="fw-bold" th:text="#{choose.children}"></label>
                            <div class="d-flex">
                                <select id="children" name="children" class="form-select flex-grow-1">
                                    <option value="" disabled selected th:text="#{choose.option}"></option>
                                    <option th:each="child : ${childrenValues}" th:value="${child['valueAsNumber']}"
                                            th:text="#{${child['name']}}"></option>
                                </select>
                            </div>
                        </section>


                        &nbsp;

                    <section>
                        <p class="fw-bold" th:text="#{choose.living.conditions}"></p>
                        <div class="form-check" th:each="livingCondition : ${livingConditions}">
                            <input class="form-check-input" type="checkbox"
                                   th:id="'livingCondition-' + ${livingCondition.id}"
                                   th:name="livingConditionDTOS" th:value="${livingCondition.livingConditionName}"/>
                            <label class="form-check-label" th:for="'livingCondition-' + ${livingCondition.id}"
                                   th:text="#{${livingCondition.livingConditionName}}"></label>
                        </div>
                    </section>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{shut}"></button>
                        <button type="submit" class="btn btn-primary" onclick="submitSearchForm()" th:text="#{search}"></button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/min/submitSearchForm.min.js"></script>
<script src="/js/min/showModal.min.js"></script>
<script src="/js/min/selectedOptions.min.js"></script>
<script src="/js/min/selectedChildrenCount.min.js"></script>

</body>
</html>
