<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/images/village-life-logo-icon.png}" rel="icon" type="image/png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/menuStyle.css">
    <link rel="stylesheet" href="/css/searchingForm.css">

    <title>Търсене</title>

<body>

<div th:replace="fragments :: menu"></div>

<div class="search-bar-row d-flex justify-content-between">
    <form th:action="@{/filter/all}" method="get" class="d-flex align-items-center">
        <div class="col-5 d-flex">
            <select name="region" class="form-select flex-grow-1" style="outline-color: gray; height: 40px;">
                <option value="" selected disabled style="text-align: left;">Избери област</option>
                <option th:each="region : ${regions}" th:value="${region.regionName}"
                        th:text="${region.regionName}"></option>
            </select>
        </div>
        &nbsp;
        <div class="col-12 d-flex">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
            <input type="text" id="myInput" name="keyword" onkeyup="myFunction()" placeholder="Търси по име на село"
                   class="search-field"
                   style="outline-color: gray; height: 40px;">

            <input class="btn btn-outline-secondary" type="submit" value="Търси"
                   style="background-color: #96c930;" id="searchButton"/>
            <input class="btn btn-outline-secondary" type="button" value="Изчисти" onclick="clearFilter()"
                   style="background-color: #eef5e1;" id="clearButton"/>
        </div>

    </form>

    <div class="filter-button-container">
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fas fa-filter"></i> Филтър за разширено търсене
        </button>
    </div>

</div>


<div id="modalContainer"></div>


<h3>Резултати от търсенето</h3>

<div th:if="${error}" class="error-message text-center" style="font-size: larger; color: #96c930; font-weight: bold;">
    <p th:text="${#strings.toUpperCase(error)}"></p>
</div>


<div class="custom-div">
    <p th:if="${message}" th:text="${message}" style="font-style: italic; color: #96c930;"></p>
</div>

<div class="village-grid">
    <div class="village-toggle">
        <a href="#" onclick="toggleVillageView()">
            <i class="fa fa-th-list"></i>
        </a>
    </div>
    <div id="village-container" class="village-container-grid">
        <div th:each="village : ${villages}" class="village-item">
            <div>
                <a th:href="@{'/villages/show/' + village.id}">
                </a>
            </div>
            <div>
                <h3 th:text="${village.id}"></h3>
                <a th:href="@{'/villages/show/'} + ${village.id}">
                    <i class="fas fa-map-marker-alt" style="color: #96c930;"></i>
                    <h3 th:text="'село '+ ${village.name} + ' област ' + ${village.region}"
                        style="color: #96c930;"></h3>
                </a>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments :: footer"></div>

<script src="/js/search-script.js"></script>
<script src="/js/clear-button-script.js"></script>
<script src="/js/search-button-script.js"></script>
<script src="/js/toggleVillageView.js"></script>
<script src="/js/clearFilter.js"></script>
<script src="/js/showModal.js"></script>
<script src="/js/fetch-modal-script.js"></script>



<!--<script>-->
<!--  function myFunction() {-->
<!--    // Get the input value and convert it to lowercase-->
<!--    var input = document.getElementById("myInput");-->
<!--    var filter = input.value.toLowerCase();-->

<!--    // Get the village container and village items-->
<!--    var villageContainer = document.getElementById("village-container");-->
<!--    var villageItems = villageContainer.getElementsByClassName("village-item");-->

<!--    // Loop through all village items and hide those that don't match the search query-->
<!--    for (var i = 0; i < villageItems.length; i++) {-->
<!--      var villageName = villageItems[i].getElementsByTagName("h3")[1];-->
<!--      var nameText = villageName.textContent || villageName.innerText;-->

<!--      if (nameText.toLowerCase().indexOf(filter) > -1) {-->
<!--        villageItems[i].style.display = "";-->
<!--      } else {-->
<!--        villageItems[i].style.display = "none";-->
<!--      }-->
<!--    }-->
<!--  }-->



<!--</script>-->

<!--<script>-->
<!--    document.addEventListener("DOMContentLoaded", function () {-->
<!--        var clearButton = document.getElementById("clearButton");-->

<!--        clearButton.addEventListener("mouseover", function () {-->
<!--            clearButton.style.color = "#000000"; // Черен цвят на текста-->
<!--            clearButton.style.backgroundColor = "#9ac76d"; // Нов фонов цвят-->
<!--        });-->

<!--        clearButton.addEventListener("mouseout", function () {-->
<!--            clearButton.style.color = ""; // Възстановява оригиналния цвят на текста-->
<!--            clearButton.style.backgroundColor = ""; // Възстановява оригиналния фонов цвят-->
<!--        });-->
<!--    });-->




<!--</script>-->


<!--<script>-->
<!--    var clearButton = document.getElementById("searchButton");-->

<!--    clearButton.addEventListener("mouseover", function () {-->
<!--        clearButton.style.backgroundColor = "#989e91";-->
<!--    });-->

<!--    clearButton.addEventListener("mouseout", function () {-->
<!--        clearButton.style.backgroundColor = "#96c930";-->
<!--    });-->










<!--</script>-->

<!--<script type="text/javascript">-->
<!--    function toggleVillageView() {-->
<!--        var villageContainer = document.getElementById("village-container");-->
<!--        var villageToggle = document.querySelector(".village-toggle a i");-->

<!--        if (villageContainer.classList.contains("village-container-grid")) {-->
<!--            villageContainer.classList.remove("village-container-grid");-->
<!--            villageContainer.classList.add("village-container-list");-->
<!--            villageToggle.classList.remove("fa-th-list");-->
<!--            villageToggle.classList.add("fa-th");-->
<!--        } else {-->
<!--            villageContainer.classList.remove("village-container-list");-->
<!--            villageContainer.classList.add("village-container-grid");-->
<!--            villageToggle.classList.remove("fa-th");-->
<!--            villageToggle.classList.add("fa-th-list");-->
<!--        }-->
<!--    }-->


















<!--</script>-->
<!--<script type="text/javascript">-->
<!--    function clearFilter(){-->
<!--    window.location = '/filter/all';-->
<!--}-->



















<!--</script>-->

<!--<script type="text/javascript">-->
<!--    function showModal() {-->
<!--        var modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));-->
<!--        modal.show();-->
<!--    }-->

















<!--</script>-->
<!--<script type="text/javascript">-->
<!--  fetch('/filter/advancedSearchModalForm')-->
<!--    .then(response => response.text())-->
<!--    .then(html => {-->
<!--      // Вмъкване на съдържанието на "/advancedSearch" в основната страница-->
<!--      document.getElementById('modalContainer').innerHTML = html;-->
<!--    })-->
<!--    .catch(error => {-->
<!--      console.error('Грешка при зареждане на страницата с модалния прозорец:', error);-->
<!--    });-->












<!--</script>-->

</body>
</html>
