<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/images/village-life-logo-icon.png}" rel="icon" type="image/png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="/css/searchBar.css">
    <link rel="stylesheet" href="/css/searchingForm.css">
    <link rel="stylesheet" href="/css/menu-style-about-us.css">
    <link rel="stylesheet" href="/css/sort.css">

    <title th:text="#{searchingForm.title}"></title>

<body>

<div th:replace="fragments :: menu"></div>
<div th:replace="fragments :: hamburger-menu"></div>


<div class="search-bar-row">
        <form th:action="@{/filter/search/0}" method="get" class="search-bar-form d-flex align-items-center center-content">

        <select name="region" class="form-select me-2" id="regionName">
            <option value="" selected disabled style="text-align: left;" th:text="#{choose.region}"></option>
            <option th:each="region : ${regions}" th:value="${region.regionName}"
                    th:text="${region.regionName}"></option>
        </select>
        <div class="search-input-container">
            <div class="input-group">
                <span class="input-group-text search-icon"><i class="fas fa-search"></i></span>
                <input type="text" id="myInput" name="keyword" onkeyup="myFunction()" th:placeholder="#{placeholder.search}"
                       class="search-field form-control"/>
            </div>
        </div>
        <div class="search-buttons">
            <input class="btn me-2" type="submit" th:value="#{search}" id="searchButton"/>
            <input class="btn btn-outline-secondary" type="button" th:value="#{clear}" onclick="clearFilter()"
                   id="clearButton"/>
        </div>
    </form>
    <div class="filter-button-container mt-3 mt-sm-0">
        <button type="button" class="btn btn-light" style="margin-top: 10px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fas fa-filter"></i><span th:text="#{filter.search}"></span>
        </button>
    </div>
</div>


<div class="sort-container">
    <form th:action="@{/filter/search/0}" method="get">
        <input type="hidden" name="region" th:value="${region}"/>
        <input type="hidden" name="keyword" th:value="${keyword}"/>
        <label for="sort" class="sort-label" th:text="#{sorting}"></label>
        <select id="sort" name="sort" onchange="handleSortChange()" class="sort-select">
            <option value="name,asc" th:selected="${sort == 'name,asc'}"  th:text="#{byDefault}"></option>
            <option value="name,asc" th:selected="${sort == 'name,asc'}" th:text="#{name.asc}"></option>
            <option value="name,desc" th:selected="${sort == 'name,desc'}" th:text="#{name.desc}"></option>
            <option value="region,asc" th:selected="${sort == 'region,asc'}" th:text="#{region.asc}"></option>
            <option value="region,desc" th:selected="${sort == 'region,desc'}" th:text="#{region.desc}"></option>
        </select>
    </form>
</div>


<div id="modalContainer"></div>


<div class="search-results">
    <h3 th:text="#{search.results}"></h3>

    <div th:if="${error}" class="error-message text-center">
        <p th:text="${#strings.toUpperCase(error)}"></p>
    </div>

    <div class="custom-div">
        <p th:if="${message}" th:text="${message}"></p>
    </div>

    <div class="village-grid">
        <div class="row col-12">
            <div class="village-toggle">
                <a href="#" onclick="toggleVillageView()">
                    <i class="fa fa-th-list"></i>
                </a>
            </div>
            <div id="village-container" class="village-container-grid">
                <div th:each="village : ${villages}" class="village-item card col-lg-5 col-md-5 col-sm-12">
                    <div class="row">
                        <div class="image-container col-6">
                            <img th:if="${village.images != null and not #lists.isEmpty(village.images)}"
                                 th:src="'data:image/jpeg;base64,' + ${village.images[0]}"
                                 onerror="this.onerror=null;this.src='/images/pexels-alexander-kovalev-2871478.jpg';">
                            <img th:unless="${village.images != null and not #lists.isEmpty(village.images)}"
                                 src="/images/pexels-alexander-kovalev-2871478.jpg">
                        </div>
                        <div class="card-body col-6">
                            <a th:href="@{'/villages/show/' + ${village.id}}">
                                <i class="fas fa-map-marker-alt" style="color: #96c930;"></i>
                                <h6 th:text="'село '+ ${village.name} + ', област ' + ${village.region}"></h6>
                                <br>
                                <a th:href="@{'/villages/show/' + ${village.id}}" class="btn btn-info" th:text="#{more}"></a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pagination-container">
<div class="pagination">
    <div>
        <a th:href="@{'/filter/change/0/' + ${villageCount}}">
            <button id="first" class="btn">
                <i class="fas fa-angle-double-left"></i>
            </button>
        </a>
    </div>

    <div>
        <a th:href="@{'/filter/change/'+ ${page - 1} +'/' + ${villageCount}}">
            <button id="prev" class="btn">
                <i class="fas fa-chevron-left"></i><span th:text="#{previous.page}"></span>
            </button>
        </a>
    </div>

    <div>
        <input type="number" id="currentPage" th:value="${page != null ? page + 1 : 1}"
               onkeyup="updatePageValue(event)" style="width: 50px;">
        <span th:text="#{from.page}"></span>
        <span th:text="${pageSize}"></span>
    </div>

    <div>
        <a th:href="@{'/filter/change/'+ ${page + 1} +'/' + ${villageCount}}">
            <button id="next" class="btn">
               <span th:text="#{next.page}"></span>  <i class="fas fa-chevron-right"></i>
            </button>
        </a>
    </div>

    <div>
        <a th:href="@{'/filter/change/'+ ${(villageCount + 6 - 1) / 6 - 1} +'/' + ${villageCount}}">
            <button id="last" class="btn">
                <i class="fas fa-angle-double-right"></i>
            </button>
        </a>
    </div>

</div>
</div>

<div th:replace="fragments :: footer"></div>
<script>
function updatePageValue(event) {
    if (event.key === 'Enter') {
        var currentPageInput = document.getElementById('currentPage');
        if (currentPageInput.value >= 0 && currentPageInput.value < [[${villageCount}]]) {
            var newPageValue = currentPageInput.value - 1;
            if (newPageValue >= 0) {
                var baseURL = window.location.origin;
                var newPath = '/filter/change/' + newPageValue + '/' + [[${villageCount}]];
                var newURL = baseURL + newPath;
                window.location.href = newURL;
            }
        }
    }
}
</script>
<script src="/js/search-script.js"></script>
<script src="/js/clear-button-script.js"></script>
<script src="/js/search-button-script.js"></script>
<script src="/js/toggleVillageView.js"></script>
<script src="/js/clearFilter.js"></script>
<script src="/js/showModal.js"></script>
<script src="/js/fetch-modal-script.js"></script>
<script src="/js/navScript.js"></script>
<script src="/js/handleSortChange.js"></script>
<script src="/js/showSubscriptionToast.js"></script>
</body>
</html>