<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/images/village-life-logo-icon.png}" rel="icon" type="image/png" />
    <title>Качи Excel Файл</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }

        h1 {
            margin-top: 50px;
        }

        form {
            margin-top: 30px;
        }

        p {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>Качи Excel Файл</h1>

<form th:action="@{/uploadController}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Прикачи Excel Файл" />
</form>

<p th:if="${uploadSuccess}">
    Файла е качен успешно.
</p>
<p th:if="${uploadError}">
    Няма избран Excel Файл.
</p>

<p th:if="${village != null}" style="margin-top: 50px;">
    <strong>Успешно качени <span th:text="${village.id}"></span> села.</strong>
</p>
</body>
</html>
