<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/images/village-life-logo-icon.png}" rel="icon" type="image/png"/>
    <title>Снимки - VillageLife</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/admin_images.css">
    <link th:href="@{/css/admin_css.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin_embed.css}" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

</head>
<body>
<!----------------NAV------------------------------>
<div th:replace="fragments :: admin-navbar"></div>
<!----------------NAV------------------------------>

<div class="container">
    <div class="text-center">
        <p class="village-title" th:text="'село ' + ${village.name} + ', област ' + #{${village.region}}"></p>
        <div class="row">
            <h2>
                <span>ДОБАВИ ВИДЕО</span>
                <img th:src="@{/images/add-video.png}" width="80px" alt="Add new video" id="openModalImage" data-bs-toggle="modal" data-bs-target="#new">
            </h2>
            <div>
                <a th:href="@{/admins/delete-videos/{villageId}(villageId=${village.id})}" class="deleted-images-link">
                    <img th:src="@{/images/delete-button.png}" alt="Deleted images" class="delete-button">
                    <span>Премахнато видео</span>
                </a>
            </div>

            <div class="modal fade" id="new" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="newLabel">Добавяне на видео</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Отказ"></button>
                        </div>
                        <div class="modal-body">
                            <form id="videoForm" action="/admins/save-video" method="post">
                                <div id="videoFields">
                                    <div class="mb-3">
                                        <label class="form-label fw-bold" style="float: left">Моля, въведете URL на YouTube видео:</label>
                                        <input class="form-control" name="videoUrl" type="text" placeholder="Пример: https://www.youtube.com/watch?v=VIDEO_ID">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-secondary mb-3" onclick="addVideoField()">Добави още видео</button>
                                <input type="hidden" name="villageId" th:value="${village.id}">
                                <div style="float: right">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отказ</button>
                                    <button type="submit" class="btn btn-primary">Добавяне</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--         NO Video          -->
            <div class="alert alert-warning text-center" role="alert" th:if="${#lists.isEmpty(villageVideoDTOs)}">
            Избраното село няма видео файлове.
            </div>
            <div class="row col-12">
            <div th:each="villageVideo : ${villageVideoDTOs}" class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div th:if="${villageVideo.url}" class="embed-responsive embed-responsive-21by9">
                        <!-- Embed YouTube video using iframe -->
                        <iframe th:src="${'https://www.youtube.com/embed/' + (villageVideo.url.contains('v=') ? villageVideo.url.split('v=')[1].split('&')[0] : villageVideo.url)}"
                                class="embed-responsive-item"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                    <div class="card-body">
                        <div th:text="'Дата на добавяне: ' + ${villageVideo.dateUpload}"></div>
                        <div th:text="'Статус: ' + (${villageVideo.status} ? 'одобрено' : 'неодобрено')"></div>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" th:data-bs-target="'#reject-' + ${villageVideo.id}">Премахване</button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" th:id="'reject-' + ${villageVideo.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" th:aria-labelledby="'rejectLabel-' + ${villageVideo.id}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" th:id="'rejectLabel-' + ${villageVideo.id}">Премахване</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Отказ"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">Сигурни ли сте, че искате да премахнете това видео?</div>
                            </div>
                            <div class="modal-footer">
                                <div style="float: right" class="row">
                                    <button type="button" class="btn btn-secondary col" data-bs-dismiss="modal">Отказ</button>
                                        <form th:action="@{/admins/reject-video/{villageVideoId}(villageVideoId=${villageVideo.id})}" method="post" class="col">
                                            <button type="submit" class="btn btn-danger">Премахване</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin_video.js"></script>
</body>
</html>