<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Запитвания - VillageLife</title>

    <link rel="icon" type="image/x-icon" th:href="@{/images/tree.png}"/>
    <link th:href="@{/images/village-life-logo-icon.png}" rel="icon" type="image/png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link th:href="@{/css/admin_css.css}" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<!----------------NAV------------------------------>
<div th:replace="fragments :: admin-navbar"></div>
<!----------------NAV------------------------------>

<div id="container" style="padding: 0 55px 100px;">
    <div class="table-container">
        <h1 class="text-center">Запитвания за села</h1>
        <table id="inquiriesTable" class="display" style="border-collapse: collapse;">
            <thead>
            <tr>
                <th>id</th>
                <th>Потребител</th>
                <th>Имейл</th>
                <th>Съобщение</th>
                <th>Телефонен номер</th>
                <th>Село</th>
                <th>Тип запитване</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inquiry : ${inquiries}">
                <td th:text="${inquiry.id}"></td>
                <td th:text="${inquiry.userName}"></td>
                <td th:text="${inquiry.email}"></td>
                <td th:text="${inquiry.userMessage}"></td>
                <td th:text="${inquiry.mobile}"></td>
                <td th:text="${inquiry.villageName}"></td>
                <td th:text="#{${inquiry.inquiryType.name}}"></td>
                <td th:text="${inquiry.dateSent != null ? #temporals.format(inquiry.dateSent, 'yyyy-MM-dd HH:mm:ss') : ''}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#inquiriesTable').DataTable();
    });
</script>
</body>
</html>
